#pokemon-logo {
	height: 200px;
	width:500px;
}
body {
    background-image: url("../images/background4.jpg");
    background-size: cover;
}

@font-face {
    font-family: pokemonFont;
    src: url(PokemonGB.ttf);
}

#word-box, #image-box {
	
	font-family: pokemonFont ;
}

#enemy-hp-box {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 175px;
  height: 75px;
}

#player-hp-box {
  position: absolute;
  right: 15px;
  bottom: 25px;
  width: 200px;
  height: 75px;
}

#hp-display {
  position: absolute;
  right: 50px;
  bottom: 40px;
  font-family: pokemonFont;

}

#enemy-hp-bar {
  position: absolute;
  left:60px;
  top: 50px;
  width: 100px;
  height: 10px;
}

#player-hp-bar {
  position: absolute;
  right:45px;
  bottom: 80px;
  width: 100px;
  height: 10px;
}

#icon-spot{
  position: absolute;
  bottom: 5px;
  right: 15px;
}

#word-box {
	border-style: double;
	border-color: #666666;
	border-width: 6px;
  position: relative;
  height: 225px;
  width: 550px;
  margin: 0 auto;
}

#top-box {
  position: relative;
  width: 550px;
  height: 350px;
  margin: 0 auto;
}

.attack-but {
  float:right;
}

.container { margin-top: 25px; }

.char-select,  .enemey-select {
  margin-right: 15px;
}

#enemy-pokemon-name {
  position: absolute;
  top: 20px;
  left: 55px;
  font-family: pokemonFont;
}

#player-pokemon-name {
  position: absolute;
  bottom: 85px;
  right: 40px;
  font-family: pokemonFont;
}

#player { 
  position: absolute;
  bottom: 25px;
  left: 40px;
 }

.battle-target {
  position: absolute;
  top: 25px;
  right: 40px;
 }